<div class="sidebar">
  <img src="./images/logo-devgraphic.jpg" class="logo">
  <ul>
    <li class="<%= currentPage === 'pdvVendas' ? 'active' : '' %>"><a href="/">Vendas</a></li>
    <li class="<%= currentPage === 'pdvPedidos' ? 'active' : '' %>"><a href="/pdv">Novo Pedido</a></li>
    <li class="<%= currentPage === 'painelpedidos' ? 'active' : '' %>"><a href="/painelpedidos">Painel de Pedidos</a></li>
    <li class="<%= currentPage === 'produtos' ? 'active' : '' %>"><a href="/produtos">Cadastro de Produtos</a></li>
    <li class="<%= currentPage === 'utilidades' ? 'active' : '' %>"><a href="/utilidades">Utilidades</a></li>
    <li class="<%= currentPage === 'mudar-senha' ? 'active' : '' %>"><a href="/mudar-senha">Trocar Senha</a></li>
    <li class="<%= currentPage === 'avisos' ? 'active' : '' %>"><a href="/avisos">Avisos</a></li>
    <li class="""><a href="/logout">Sair</a></li>
    <p class="user"><%= usuario.nome %></p>
  </ul>
</div>
